header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8.8rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    
    .btn-mobile {
        display: none;
    }
    .container {
        @include flex(row, center, space-between);
        transition: all .5s ease;
    }
    &.fixed-menu {
        z-index: 99;
        background-color: $gray-100;
        box-shadow: 0 0 3rem 0 rgba(0,0,0,0.05);
        .logo {
            background-image: url('../img/logoColor.svg');
        }
        nav {
            ul {
                li {
                    a {
                        color: $gray-400;
                        &:hover {
                            color: $light-blue;
                        }
                    }
                }
            }
            .btn-secondary {
                color: $light-blue;
                border: 1px solid $light-blue;
                &:hover {
                    background-color: $light-blue;
                    color: $gray-100;
                    
                }
            }
        }
    }
    .logo{
        display: inline-block;
        width: 132px;
        height: 30px;
        background: url('../img/logo.svg') no-repeat center center;
        background-size: 100%;
        transition: all .5s ease-in-out;
    }
    nav {
        position: relative;
        display: flex;
        align-items: center;
        .dropdown {
            position: absolute;
            top: 4.9rem;
            left: -13rem;
            width: 100%;
            max-width: 37.3rem ;
            background: $gray-100;
            border-radius: 6px;
            padding: 4rem;
            opacity: 0;
            pointer-events: none;
            transform: translateY(2rem);
            transition: all .3s;
            &.active {
                transform: translateY(0);
                opacity: 1;
                pointer-events: all;
                z-index: 99;
            }
            &::after {
                content: "";
                width: 29.3rem;
                height: 0.5rem;
                background: $yellow;
                border-radius: 1.2rem 1.2rem 0 0;
                position: absolute;
                bottom: 0;
            }
            .item {
                &:not(:last-child) {
                    margin-bottom: 2.8rem;
                }
                &:hover {
                    strong {
                        color: $blue;
                    }
                }
                strong {
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    display: block;
                    margin-bottom: 0.4rem;
                    color: $gray-500;
                    transition: all .3s ease-in;
                }
                p {
                    font-size: 1.4rem;
                    line-height: 150%;
                    color: $gray-300;
                }
            }
        }
        ul {
            display: flex;
            align-items: center;
            margin-right: 5.9rem;
            li {
                &:not(:first-child) {
                    margin-left: 4.8rem;
                }
                a {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 125%;
                    color: $gray-100;
                    transition: all 0.3s ease;
                    &:hover {
                        color: $green-light;
                    }
                }
            }
        }
    }

    @include responsive(1085px) {
        nav {
            ul {
                margin-right: 3rem;
                li {
                    &:not(:first-child) {
                        margin-left: 2.5rem;
                    }
                }
            }
        }
    }
    @include responsive(991px) {
        nav {
            ul {
                display: none;
            }
        }
        .btn-mobile {
            display: inline;
            margin-left: 4rem;
        }
        .logo {
            max-width: 10.8rem;
        }
    }
    @include responsive(480px) {
        height: 7.3rem;
        nav {
            .btn-secondary {
                display: none;
            }
        }
    }
}

.menu-mobile {
    display: none;

    @include responsive(991px) {
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;
        opacity: 0;
        pointer-events: none;
        transition: all .5s;
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.05);
            z-index: 0;
        }
        aside {
            position: fixed;
            top: 0;
            left: 0;
            width: 75%;
            height: 100%;
            background-color: $gray-100;
            padding: 3rem;
            transform: translateX(-100%);
            transition: all .5s ease-in-out;
            .logo {
                max-width: 15rem;
                margin-bottom: 4rem;
            }
            ul {
                li{
                    a{
                        padding: 1.5rem 0;
                        display: block;
                        font-size: 1.8rem;
                        color: $gray-500;
                    }
                }
            }
        }
    }
}

.menu-opened {
    overflow: hidden;
    .menu-mobile {
        opacity: 1;
        pointer-events: all;
        aside {
            transform: translateX(0);
        }
    }
}


