@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin responsive($tamanhoTela) {
    @media (max-width: $tamanhoTela) {
        @content
    }
}